#citySearch{
    background-color: lightblue;
}

#weatherDataContainer{
    background-color: lightsalmon;
}

#fiveDayForecast{
    background-color: lightgray;
}

.logo{
    background-color: lightslategray;
}